Source: python-ether
Section: python
Priority: optional
Maintainer: BIFH Team <bifh-team@nokia.com>
Uploaders: Ed Bartosh <eduard.bartosh@nokia.com>
Build-Depends: debhelper (>= 7.0.50~),
               python-setuptools,
               python-support,
               python-sphinx,
               rst2pdf
XS-Python-Version: >= 2.6
Standards-Version: 3.9.1
Homepage: http://ether-team.github.com/ether/
Vcs-Git: https://git@github.com/ether-team/ether.git
Vcs-Browser: https://github.com/ether-team/ether

Package: python-ether
Architecture: all
Depends: ${misc:Depends}, 
         ${python:Depends}
Provides: ${python:Provides}
Description: set of APIs and tools for passing VCS information through AMQP network
 This project is an implementation of commit / post-recieve hooks for various
 VCS systems, that send a notification to an AMQP server containing payload
 that follows the github payload spec :
 https://github.com/github/github-services/blob/master/docs/github_payload

