Source: ether
Section: python
Priority: optional
Maintainer: BIFH Team <bifh-team@nokia.com>
Uploaders: Ed Bartosh <eduard.bartosh@nokia.com>
Build-Depends: debhelper (>= 7.0.50~),
               python-setuptools,
               python-support,
               python-sphinx (>= 1.0),
               python-nose,
               rst2pdf (>= 0.16)
XS-Python-Version: >= 2.6
Standards-Version: 3.9.1
Homepage: http://ether-team.github.com/ether/
Vcs-Git: git://github.com/ether-team/ether.git
Vcs-Browser: https://github.com/ether-team/ether

Package: python-ether
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-simplejson,
         python-pika
Provides: ${python:Provides}
Description: set of APIs and tools for passing VCS information through AMQP network
 This project is an implementation of commit / post-recieve hooks for various
 VCS systems, that send a notification to an AMQP server containing payload
 that follows the github payload spec :
 https://github.com/github/github-services/blob/master/docs/github_payload

Package: ether-hooks-svn
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-ether (= ${binary:Version}),
         subversion (>= 1.3.0)
Description: SVN hooks

Package: ether-hooks-git
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends},
         python-ether (= ${binary:Version}),
         git (>= 1:1.7.0.4-2~exp0) | git-core (<< 1:1.7.0.4-2~exp0)
Description: GIT hooks

Package: ether-doc
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends}
Description: Ether docs

Package: ether-hookman
Architecture: all
Depends: ${python:Depends},
         ${misc:Depends},
	 python-pkg-resources
Description: VCS hooks infrastructure
 This package contains vcs hooks infrastructure APIs and
 commandline tool for managing it
