#!/usr/bin/make -f

%:
	dh $@

override_dh_clean:
	dh_clean
	rm -rf *.egg-info
	rm -rf docs/_build

override_dh_auto_build:
	dh_auto_build
	mkdir -p docs/_build
	python setup.py build_sphinx -q

override_dh_install:
	dh_install
	dh_link

override_dh_pysupport:
	dh_pysupport
	python setup.py test
